:root {
	font-size: 100%;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
	font-size: 1em;
	line-height: 1.4em;
}

@media screen and (min-width: 20em) {
	body {
		font-size: calc(1em + (1.3125 - 1) * ((100vw - 20em) / (80 - 20)));
		line-height: calc(1.4em + (1.8 - 1.4) * ((100vw - 20em) / (80 - 20)));
	}
}

@media (min-width: 80em) {
	body {
		font-size: 1.3125em;
		line-height: 1.8em;
	}
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: 0.8em;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
